main > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 400px;
    max-height: 200px;
    margin: 30px auto;
    background-color: #dbdbdb;
    border-radius: 8px;
}
 
label + textarea {
    margin-left: 8px;
}

label ~ input {
    margin-left: 8px;
}

#submit_button {
    background-color: #194079;
    border-color: #194079;
    color: white;
    margin: 8px;

}

.post_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px auto;
}