* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    background-color: #bfbfbf;
}

header nav {
    display: flex;
    align-items: center;
}

nav > a {
    display: inline-block;
    padding: 12px;
}

nav > a:hover {
    background: #8c8c8c;
}

footer {
    width: 100%;
    padding: 20px;
    background-color: gray;
    text-align: center;
}
